
.icon-menu:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-flash:before { content: '\e803'; } /* '' */
.icon-toggle-off:before { content: '\e804'; } /* '' */
.icon-toggle-on:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-user-add:before { content: '\e809'; } /* '' */