.bt-header {
	cursor: pointer;
	height: 46px;
	width: 35px;
	position: absolute;
	text-align: center;
	line-height: 46px;
	top: 0;
}

.splash, #header {
	background-color: #14ebff;
	@include filter-gradient(#14ebff, #2327ff, vertical); // IE6-9
	/*@include background-image(linear-gradient(top, #14ebff 0%,#2361ff 51%,#2327ff 100%));*/
}

    .splash {
      background-color: #1420FF;
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 200000;
      text-align: center;
      text-shadow: 0 -0.08em 0 rgba(0, 0, 0, 0.5);   
      padding-top: 200px; 

      .title {
	      font-weight: 700;
	      font-size: 45px;  
      }

      .version {
	      font-size: 30px;  
      }

      .load {
      	margin-top: 40px;
      }
    }

#header {
	height: $header-height;
	margin: 0px;
	padding: 0px;	
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20000;
	font-weight: 700;
	font-size: 22px;
	color: white;
	background-color: $qplt;
	line-height: 46px;

	.bt-infos {
		@extend .bt-header;
		right: 5px;
	}

	.bt-bugs {
		@extend .bt-header;
		right: 81px;
	}

	.link-market {
		@extend .bt-header;
		color: white !important;
		right: 48px;
		line-height: 50px !important;
		border: 0;
		outline: 0;
	}

	.title {
		margin-left: 3px;
		cursor: pointer;		
	}
}

/* Responsive */

/* large */
@media screen and (min-width: 992px) {
		
	#header {
		text-align: center;

		.bt-header { 
			display: none;
			visibility: hidden;
			opacity: 0;
		}
	}
}