.login {
	@extend .encart;
	.easy-connect {		
			border-radius: 0 0 10px 10px;
			text-align: center;
			.icons {
				font-size: 1.3em;
			}
			.facebook {
				color: #3b5998;
			}
			.google {
				color: #D50F25;
			}
	}
}
