.login {
	width: 350px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -175px;
	border-radius: 10px;
	.icon {
		color: rgb(63, 81, 181);
		width: 70px;
		height: 70px;
		font-size: 4em;
		text-align: center;
	}
	.easy-connect {		
			text-align: center;
			.icons {
				font-size: 1.3em;
			}
			.facebook {
				color: #3b5998;
			}
			.google {
				color: #D50F25;
			}
	}
}