.menu {
	border: 0;
	padding: 0;
	.header {
		height: 170px;
		padding: 5px;
		text-align: right;
		.email {
			font-size: 0.7em;
		}
		p {
			line-height: 0.1px;
		}
		img {
			margin-right: 10px;
		}
		.icon-menu {
		    width: 35px;
		    height: 35px;
		    font-size: 2em;			
		}
		.login-bt, .logout-bt {
			position: absolute;
			top: 130px;
			right: 10px;
		}
		.signup-bt {
			position: absolute;
			top: 130px;
			left: 10px;
		}
	}
	a {
		text-decoration: none;
		line-height: 50px;
		color: $color-theme-default;
	}
}