// Configuration variables
// Type name | color scheme
$message-types: (
  error : #b94a48,
  warn  : #c09853,
  valid : #468847,
  info  : #3a87ad
) !default;
 
// Placeholder for static values
%message {
	  padding: .5em;
	  margin: .5em;
	  border-radius: .15em;
	  border: 1px solid;
}
 
// Mixin for dynamic values
// Extending the placeholder
@mixin message($color) {
  @extend %message;
  color: $color;
  background: lighten($color, 38%);
  border-color: lighten($color, 20%);
}
 
// Loop doing all the dumping
@each $type, $color in $message-types {
  .message-#{$type} {
    @include message($color);
  }
}

