.modalite {
	background-repeat: no-repeat; 
	background-position: center top;
	background-size: auto 60px;
}

.ticketRestaurant {
	 @extend .modalite;
}

.chequeDeTable { 
	 @extend .modalite;
}

.chequeRestaurant {
	 @extend .modalite;
}

.chequesDejeuner {
	 @extend .modalite;
}
