$mdi-css-prefix : "mdi";
$mdi-font-size-base : "20";
$mdi-font-path : "fonts";
$mdi-version : "1";
// bower:scss
@import "mdi/scss/_core.scss";
@import "mdi/scss/_extras.scss";
@import "mdi/scss/_icons.scss";
@import "mdi/scss/_path.scss";
@import "mdi/scss/_variables.scss";
@import "mdi/scss/materialdesignicons.scss";
// endbower

html {
  background-attachment: fixed;
  background-image: url("../images/bg.jpg");
  background-size: cover;	
}

body {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.toolbar {
	position: fixed;
	.icon-menu {
		font-size: 1.5em;
	}
}

.container {

}

@import "login";
@import "magasins";
