<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css" />
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <base href="/">
  </head>
  <body ng-app="qpltgestion">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="ToolbarCtrl">
      <md-toolbar layout="row" class="toolbar">
          <div class="md-toolbar-tools">
              <md-button class="md-icon-button" aria-label="menu" ng-click="toggleRight()">
                  <md-icon class="mdi icon-menu" md-font-icon="mdi-menu"></md-icon>
              </md-button>
              <h1>
                  <span>Ma démo</span>
              </h1>
              <span flex=""></span>
          </div>
      </md-toolbar>
      <md-sidenav class="md-sidenav-right md-whiteframe-z2 menu" md-component-id="right">
          <!-- menu -->
          <md-toolbar class="header">
              <div ng-if="session.getUser() !== null">
                <img ng-src="{{session.getUser().photo}}">
                <p>{{session.getUser().firstName}} {{session.getUser().lastName}}</p>
                <p>{{session.getUser().displayName}}</p>
                <p class="email">{{session.getUser().email}}</p>
                <md-button class="md-fab logout-bt" ng-click="logout()" aria-label="se déconnecter">
                  <md-icon class="mdi icon-menu" md-font-icon="mdi-logout"></md-icon>
                </md-button>                
              </div>
              <div ng-if="session.getUser() === null" >
                <md-button class="md-fab login-bt" ng-click="login()" aria-label="se connecter">
                  <md-icon class="mdi icon-menu" md-font-icon="mdi-login"></md-icon>
                </md-button>                           
                <md-button class="md-fab signup-bt" ng-click="signup()" aria-label="se connecter">
                  <md-icon class="mdi icon-menu" md-font-icon="mdi-plus"></md-icon>
                </md-button>                           
              </div>
          </md-toolbar> 
          <md-content>
              <ul>
                <li>
                  <a ng-click="closeNav()" href="/magasins">Magasins</a>    
                </li>
              </ul>              
          </md-content>    
      </md-sidenav>        
    </div>


    <div class="container">
    <div ng-view=""></div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/happyrestangular/lib/happyRestAngular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/magasins.js"></script>
        <script src="scripts/services/config.service.js"></script>
        <script src="scripts/controllers/toolbar.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/logininterceptor.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/controllers/logged.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/directives/passwordverify.js"></script>
        <!-- endbuild -->
</body>
</html>
