<div class="login" layout="column" layout-padding>
    <md-icon class="icon"  md-svg-icon="images/ic_account_circle_48px.svg"></md-icon>
    <form name="userForm">
        <md-input-container>
          <label>Identifiant</label>
          <input ng-model="user.login">
        </md-input-container>
        <md-input-container>
          <label>Mot de passe</label>
          <input ng-model="user.password" type="password">
        </md-input-container>
    </form>  
    <md-button class="md-raised md-primary">Se connecter</md-button>
    <img src="images/fb-login.jpg">

</div>