<md-list class="magasins" ng-if="result">
  <md-subheader class="md-no-sticky">
  	{{result.beginResult + 1}} à {{result.endResult + 1}} sur {{result.totalRecords}}
  	<button ng-click="setPage('firstPage')">First</button>
  	<button ng-click="setPage('previousPage')">Previous</button>
  	<button ng-click="setPage('nextPage')">Next</button>
  	<button ng-click="setPage('lastPage')">Last</button>
  </md-subheader>
  <md-list-item class="magasin md-whiteframe-z2 md-2-line" ng-repeat="magasin in result.data">
	  <img ng-src="{{env.urlBackend}}{{env.logosPath}}{{magasin.marque.logo}}" class="md-avatar" alt="{{magasin.marque.nom}}" />
    <div class="md-list-item-text">	  	
      <h3>{{ magasin.adresse }}</h3>
	  	<p>{{ magasin.marque.nom }}</p>
      <img ng-src="http://staticmap.openstreetmap.de/staticmap.php?center=40.714728,-73.998672&zoom=14&size=200x200&maptype=mapnik" />
	  </div>          
  </md-list-item>
</md-list>
